<div class="about-container">
  <section class="about-wrapper">
    <div class="about-right">
      <img src="about-food.png" alt="Delicious Food" />
    </div>
    <div class="about-left">
      <h1 class="about-title">
        About <span class="highlight">Us</span>
      </h1>
      <p class="about-text">
        Cooking is the art of turning simple ingredients into lasting memories.
        We celebrate the joy of sharing meals, the stories behind each recipe,
        and the comfort food brings to every table.
        <br /><br />
        “People who love to eat are always the best people.” — Julia Child.
      </p>
      <p class="about-text">
        From quick breakfasts to comforting dinners, each recipe is thoughtfully created to bring flavor, joy, and simplicity to your kitchen. 
        We’re committed to quality, creativity, and helping you enjoy every step of your cooking journey.
      </p>
      <button class="explore-btn">Explore Menu</button>
    </div>

    
  </section>
</div>
