<div class="hero-section">
  <img class="homeimg" src="homeimg1.png" alt="Culinary Dish" />
  <div class="hero-text">
    <h1> <span class="advtxt">Adventure <br> of </span><span class="highlight">Delicacies</span>
      <br>
      <span class="qoutetxt">Made with love, shared with family <br>recipes to bring you home.</span></h1>
  </div>
</div>


<h2 class="subtitle">What to <span class="highlight">Cook</span>?</h2>

<div class="category-filters">
  <button class="active">🍲 All Types</button>
  <button class="active">🍜 Appetizers</button>
  <button class="active">🍝 Main Courses</button>
  <button class="active">🥗 Salads & Sides</button>
  <button class="active">🌱 Vegetarian Delights</button>
  <button class="active">🌍 International Flavors</button>
  <button  class="active">🍰 Desserts & Sweets</button>
  <button class="active">💪 Healthy Eats</button>
  <button class="active">⏱️ Quick & Easy Supper</button>
</div>

<div class="recipes-grid">
  <div class="recipe-card">
    <img src="salad.jpg" alt="Fresh Salad" />
    <h3>Fresh Salad with Tahini Sauce</h3>
    <p>👁️ 250+</p>
    <button routerLink="/instructions">See Complete Recipe</button>
  </div>

  <div class="recipe-card">
    <img src="chilichicken.jpg" alt="Chili con Carne" />
    <h3>Chili con Carne with Nachos Chips</h3>
    <p>👁️ 150+</p>
    <button routerLink="/instructions">See Complete Recipe</button>
  </div>

  <div class="recipe-card">
    <img src="koreankimchi.jpg" alt="Korean Kimchi" />
    <h3>Sour & Spicy Korean Kimchi</h3>
    <p>👁️ 200+</p>
    <button routerLink="/instructions">See Complete Recipe</button>
  </div>
</div>
