<div class="hero-section">
  <img class="homeimg" src="homeimg1.png" alt="Culinary Dish" />
  <div class="hero-text">
    <h1> <span class="advtxt">Adventure <br> of </span><span class="highlight">Delicacies</span>
      <br>
      <span class="qoutetxt">Made with love, shared with family <br>recipes to bring you home.</span></h1>
  </div>
</div>


<h2 class="subtitle">What to <span class="highlight">Cook</span>?</h2>
<div class="category-filters">
  <button (click)="setCategory('All Types')" class="active">🍲 All Types</button>
  <button (click)="setCategory('Appetizers')" class="active">🍜 Appetizers</button>
  <button (click)="setCategory('Main Courses')" class="active">🍝 Main Courses</button>
  <button (click)="setCategory('Salads & Sides')" class="active">🥗 Salads & Sides</button>
  <button (click)="setCategory('Vegetarian Delights')" class="active">🌱 Vegetarian Delights</button>
  <button (click)="setCategory('International Flavors')" class="active">🌍 International Flavors</button>
  <button (click)="setCategory('Desserts & Sweets')" class="active">🍰 Desserts & Sweets</button>
  <button (click)="setCategory('Healthy Eats')" class="active">💪 Healthy Eats</button>
  <button (click)="setCategory('Quick & Easy Supper')" class="active">⏱️ Quick & Easy Supper</button>
</div>

<!-- Pass the selected category to app-recipies -->
<app-recipies [category]="selectedCategory"></app-recipies>
