<div class="mainnav-container">
    <div>logo</div>
    <div class="nav-container">
        <button class="navbtn" routerLink="home">Home</button>
        <button class="navbtn" routerLink="abouts">About</button>
        <button class="navbtn" routerLink="menu">Recipes</button>
        <button class="navbtn" routerLink="blog">Blog</button>
        <button class="navbtn" routerLink="contactus">Contact</button>
    </div>
    <div>
        <input class="searchbar" placeholder="   Search..." type="text">
    </div>
    <div>
        userprofile
    </div>

</div>