.mainnav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbtn{
    background-color: none;
    border: none;
    background: none;
    font-size: 16px;
    margin: 0px 20px 0px 20px;
    
}
.navbtn:hover{
    color: orange;
}
.searchbar{
    border: none;
    border-radius: 20px;
    width: 250px;
    height: 20px;
    padding: 5px;
    margin-left: 200px;
    background:rgb(195, 195, 195);
}
.nav-container{
    margin-left: 300px;
}