.card {
    // max-width: 700px;
    // margin: 2rem auto;
    // padding: 2rem;
    font-family: 'Georgia', serif;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .header h1 {
    margin: 0;
    font-size: 2em;
  }
  
  .header h3 {
    color: #555;
    margin-top: 0.3em;
    font-style: italic;
  }
  .header{
    display: flex;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;

  }
  
  .rating {
    margin: 0.5em 0;
  }
  
  .rating span {
    font-size: 1.2em;
    color: #ccc;
  }
  
  .rating .filled {
    color: #f4a261;
  }
  .image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image img {
    width: auto;
    max-height: 400px;
    border-radius: 8px;
    margin: 1em 0;
  }
  
  .info {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 1em;
  }
  
  .content {
    display: flex;
    padding: 0px 50px 0px 50px;
    gap: 2rem;
  }
  
  .ingredients, .directions {
    flex: 1;
  }
  
  .ingredients ul, .directions ol {
    padding-left: 1.2em;
  }
  
  .ingredients li, .directions li {
    margin-bottom: 0.5em;
  }
  