<div class="recipes-grid">
  <div class="recipe-card">
    <img src="salad.jpg" alt="Fresh Salad" />
    <h3>Fresh Salad with Tahini Sauce</h3>
    <p>👁️ 250+</p>
    <button type="button"  routerLink="/instructions">See Complete Recipe</button>
  </div>

  <div class="recipe-card">
    <img src="chilichicken.jpg" alt="Chili con Carne" />
    <h3>Chili con Carne with Nachos Chips</h3>
    <p>👁️ 150+</p>
    <button routerLink="/instructions">See Complete Recipe</button>
  </div>

  <div class="recipe-card">
    <img src="koreankimchi.jpg" alt="Korean Kimchi" />
    <h3>Sour & Spicy Korean Kimchi</h3>
    <p>👁️ 200+</p>
    <button routerLink="/instructions">See Complete Recipe</button>
  </div>
</div>