/* You can add global styles to this file, and also import other style files */
*,body,header{
    
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
      }

      .winkyfont {
        font-family: "Winky Rough", sans-serif;
        font-optical-sizing: auto;
        font-weight:400 ;
        font-style: normal;
      }